.head {
  width: 100vw;
  /* background-color: #d10b0b; */
}
.App-header {
  background-color: #222;
  color: #ccc;
  padding: 20px 20px 15px;
  text-align: center;
  border-radius: 5px;
  height: 45vh;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 130px;
}

.App-intro {
  margin-top: 15px;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

#online {
  margin-left: 10px;
}

.App-logo {
  opacity: 1;
}

.App-logo:hover {
  opacity: 0.75;
}

.App-logo {
  color: #ccc;
  font-size: 13px;
}

.App-logo {
  /* height: 40px; */
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.85);
  }
}
