.book-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.book-table th,
.book-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.book-table th {
  background-color: #f2f2f2;
}

.book-table th:first-child,
.book-table td:first-child {
  text-align: left;
}

.book-table td {
  text-align: center;
}

.container-fluid {
  max-width: 800px;
  margin: 0 auto;
}

.book-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.book-item p {
  margin: 5px 0;
}

.book-item p:first-child {
  font-weight: bold;
}

.book-item p:nth-child(2n) {
  color: #666;
}

.book-item p:last-child {
  text-align: right;
  color: #4caf50;
}

/* Add this CSS for radio button alignment */
.radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.radioContainer > label {
  display: inline-block;
  margin-left: 10px;
}

.preview-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

h3 {
  margin-top: 0;
  color: #333;
}

p {
  margin-bottom: 0;
  color: #555;
}

/* AddBook.css */

.edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc; /* Border style */
  border-radius: 5px; /* Rounded corners */
  max-width: 400px; /* Adjust width as needed */
  width: 100%;
}

/* Add more styles as needed */
