.container-fluid {
  max-width: 800px;
  margin: 0 auto;
}

.book-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.book-item p {
  margin: 5px 0;
}

.book-item p:first-child {
  font-weight: bold;
}

.book-item p:nth-child(2n) {
  color: #666;
}

.book-item p:last-child {
  text-align: right;
  color: #4caf50;
}

.add-book-container {
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid #4caf50; /* Add border to the container */
  border-radius: 4px; /* Add border radius to the container */
  padding: 20px; /* Add padding to the container */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea, /* Apply styles to textarea */
select {
  width: calc(100% - 16px); /* Adjust width to account for padding */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}
